*
{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

/* header{
    background-image: url(../image/bg.jpg);
    height: 100vh; 
    background-size: cover;
    background-position: center;
    position: fixed; 
    width: 100%; 
    z-index: 1; 
} */

 
.box_1{
    background-image: url(../image/bg.jpg);
    height: 100vh; 
    background-size: cover; 
    background-position: center; 
    z-index: 1; 
}

#header{

    text-align: center;
    font-size: 90px; 
    font-family: sans-serif;
    color:  #2e4057; 
    font-weight: bold; 
    position: relative; 
    top: 35%; 
    width: 100%; 
    transition: 0.2s; 
}
 
.box_2 {
    /* left: 50%; 
    margin-left: -384px; */ 
    width: 100%;  
    /* overflow: auto;   */
  
    background-color:#f8f8f5; 
    z-index: 2; 

}

.introduction h1{
    font-size: 14pt; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-weight: bold; 
    color:  #2e4057; 
    line-height: 1.6;
    padding-top: 20px; 
    text-align: center;
    padding: 125px; 
    
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

ul
{
    list-style: none;
}
ul li
{
    display: inline-block;
}

header nav
{
    float: right;
}
title h1{
    color: #f8f8f5;
    font-size: 70px;
}

#navbar 
{
    background-color: transparent;
    height: 70px; 
    text-align: center;
    font-size: 0px; 
    font-family: sans-serif;
    font-weight: bold; 
    color:  #2e4057; 
    position: fixed; 
    padding-top: 13px;
    top: 0%; 
    width: 100%; 
    transition: 0.2s; 
    z-index: 3; 

}

#myBtn
{
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: transparent; /* Set a background color */
}
#myBtn:hover
{
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: transparent; /* Set a background color */
    font-style: normal; 
    color: #ffc6c6;
    text-decoration: none;
    transition:  0.6s ease-in;
}

 
/* timeline */
 
.col-6
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold; 
}

.map{
    display: flex; 
    justify-content: center;

}

.map .path{
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    width: 100%; 
    max-width: 720px; 
}
  h1 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: #06D85F;
    margin: 80px 0;
  }
  
  
  .button {
   
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    transform: scale(1.1,1.1);
  }

  .button .path1 {
    position: fixed; 
    top: 750px; 
    left: 360px;
  }
  .button .path2 {
    position: fixed; 
    top: 1600px; 
    left: 750px;
  }
  .button .path3 {
    position: fixed; 
    top: 1860px; 
    left: 300px;
  }
  .button .path4 {
    position: fixed; 
    top: 2118px; 
    left: 870px;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 100px auto;
    padding: 20px;
    background: #f8f8f5;
    width: 70%;
    position: relative;
    transition: all 5s ease-in-out;
    overflow-y: hidden;
    
  }
  
  .popup h2 {
    margin-top: 0;
    color: #2e4057;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    text-decoration: none;
    color: #2e4057;
  }
  .popup .close:hover {
    color: #2e4057;
  }
  .popup .content {
    max-height: 70%;
    overflow: auto;
    padding-bottom: 50px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    line-height: 1.6;
  }
  
  @media screen and (max-width: 700px){
    .landmarks{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }
.gallery{
    margin: 10px 50px; 
}

.gallery img{
    width: 99px; 
    padding: 5px; 
    filter: grayscale(100%);
    transition: 1s; 
}

.gallery img:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
}

.collage .img-3{
    max-width: 600px;
    width: 100%;
    height: auto; 
    margin-top: 300px; 
    margin-left: 100px;
}


.collage .img-5{
    max-width: 450px;
    width: 100%;
    height: auto; 
    margin-top: -1500px; 
    margin-left: 150px;
}

.collage .img-6{
    max-width: 900px;
    width: 100%;
    height: auto; 
    transform: rotate(90deg);
    margin-top: 300px; 
    margin-left: 540px;
}

.collage .img-7{
    max-width: 600px;
    width: 100%;
    height: auto; 
    transform: rotate(90deg);
    margin-top: 500px; 
    margin-left: 100px; 
}

 
.collage .img-21{
    width: 600px;
    max-width: 100%;
    height: auto; 
    margin-top: 300px; 
    margin-left: 450px;
}

.collage .img-23{
    max-width: 210px;
    width: 100%;
    height: auto; 
    margin-top: -900px; 
    margin-left: 720px;
}

.collage .img-24{
    width: 100%;
    max-width: 600px;
    height: auto; 
    transform: rotate(90deg);
    margin-top: 50px; 
    margin-left: 200px;
}


.collage .img-26{
    width: 100%;
    max-width: 400px;
    height: auto; 
    transform: rotate(90deg);
    margin-top: 210px; 
    margin-left: -100px;
}

.collage .img-29{
    max-width: 600px;
    width: 100%;
    height: auto; 
    transform: rotate(90deg);
    margin-top: 300px; 
    margin-left: 840px;
}

.collage .img-32{
    width: 100%;
    max-width: 420px;
    height: auto; 
    transform: rotate(90deg);
    margin-top: -360px; 
    margin-left: 100px;
}

.collage .img-34{
    width: 100%;
    max-width: 300px;
    height: auto; 
    transform: rotate(90deg);
    margin-top: -500px; 
    margin-left: 1000px;
}

.collage .img-35{
    width: 100%;
    max-width: 900px;
    height: auto; 
    transform: rotate(90deg);
    margin-top: 100px; 
    margin-left: 100px;
}

.collage .img-41{
    width: 100%;
    max-width: 600px;
    height: auto; 
    transform: rotate(90deg);
    margin-top: 300px; 
    margin-left: 30px;
}

.collage .img-42{
    width: 100%;
    max-width: 540px;
    width: 100%;
    height: auto; 
    transform: rotate(90deg);
    margin-bottom: 100px; 
    margin-left: 800px;
}

.collage .img-43{
    max-width: 600px;
    width: 100%;
    height: auto; 
    transform: rotate(90deg);
    margin-top: -180px; 
    margin-left: -50px;
}

.collage .img-44{
    max-width: 900px;
    width: 100%;
    height: auto; 
    transform: rotate(90deg);
    margin-top: 500px; 
    margin-left: 300px;
}

.collage .img-45{
    max-width: 900px;
    width: 100%;
    height: auto; 
    margin-top: 300px; 
    margin-left: 100px;
}

.collage .img-g1{
    max-width: 300px;
    width: 100%;
    height: auto; 
    margin-top: 50px; 
    margin-left: 100px;
}
.collage .img-g2{
    max-width: 360px;
    width: 100%;
    height: auto; 
    margin-top: 240px; 
    margin-left: 500px;
}
.collage .img-g3{
    max-width: 540px;
    width: 100%;
    height: auto; 
    margin-top: 50px; 
    margin-left: 100px;
}
.collage .img-g4{
    max-width: 300px;
    width: 100%;
    height: auto; 
    margin-top: 500px; 
    margin-left: 0px;
}
.collage .img-g5{
    max-width: 600px;
    width: 100%;
    height: auto; 
    margin-top: 50px; 
    margin-left: 100px;
}
.collage .img-g6{
    max-width: 300px;
    width: 100%;
    height: auto; 
    margin-top: 0px; 
    margin-left: 300px;
}
#footer{
    background-color: transparent;
    height: 70px; 
    text-align: center;
    font-size: 30px; 
    font-family: sans-serif;
    font-weight: bold; 
    color:  #2e4057; 
    /* position: absolute;  */
    bottom: 0%; 
    width: 100%; 
    
}

.mySlides {
    display: none;
  }

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

